@{
	ViewData["App"] = "GUESTBOOK";
}

<main class="flex-shrink-0">
	<div class="switch-field">
		<input type="radio" id="radio-code" name="switch" value="maybe" />
		<label for="radio-code"><a class="nav-link" asp-controller="Home" asp-action="Code">Code</a></label>
		<input type="radio" id="radio-tests" name="switch" value="yes" checked/>
		<label for="radio-tests"><a class="nav-link" asp-controller="Home" asp-action="Tests">Tests</a></label>
		<input type="radio" id="radio-repo" name="switch" value="no" />
		<label for="radio-repo"><a class="nav-link" target="_blank" href="https://github.com/lfost42/Guestbook">Repo</a></label>
	</div>

	<h2 class="border-1 border-bottom border-dark px-3 py-3 appname">
		@ViewData["App"]: Unit Tests
	</h2>
	<div class="row row-cols-1 row-cols-lg-2">
		<div class="col-lg-8">
			<p></p>
			<pre class="line-numbers"><code class="language-csharp">
[Fact]
public void CoffeeDrinkableTest(string morning, string expected)
{
	// Arrange
	var coffeeInstance = new Coffee();

	// Act
	var actual = coffeeInstance.Drink(morning).IsGood;

	// Assert
	Assert.Equal(expected, actual);
}
</code>
</pre>
				</div>
				<div class="col-lg-4 py-3">
					<h5>TEST 1:</h5>
					<p>Testing to see if coffee is good in the morning. All tests pass. </p>
				</div>
			</div>
		</div>
	</main>

<script src="/js/prism.js"></script>
<script>
	Prism.plugins.NormalizeWhitespace.setDefaults({
		'remove-trailing': true,
		'remove-indent': true,
		'left-trim': true,
		'right-trim': true
	})
</script>
